extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/moment.pug

block main
  if(role.permissions.includes('roles_view'))
    +alert-error(3000)
    +alert-success(3000)

    h1(class="mb-4") Nhóm quyền

    .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
          .col-4.text-right
            if(role.permissions.includes('roles_create'))
              a(
                href=`${prefixAdmin}/roles/create`
                class="btn btn-outline-success"
              ) + Thêm mới

        table(
          class="table table-hover table-sm"
        )
          thead
            tr
              th STT
              th Nhóm quyền
              th Mô tả ngắn
              th Người tạo
              th Người cập nhật
              th Hành động

          tbody
            if(documents.length > 0)
              each item, index in documents
                tr
                  td #{index + 1}
                  td #{item.title}
                  td !{item.description}
                  td
                    p #{item.accountFullName}
                    +formatDateTime(item.createdBy.createdAt)
                  td
                    - const updatedBy = item.updatedBy.slice(-1)[0];
                    if(updatedBy)
                      p #{updatedBy.accountFullName}
                      +formatDateTime(updatedBy.updatedAt)
                  td
                    a(
                      class="btn btn-secondary btn-sm"
                      href=`${prefixAdmin}/roles/detail/${item.id}`
                    ) Chi tiết
                    if(role.permissions.includes('roles_edit'))
                      a(
                        class="btn btn-warning btn-sm mx-1"
                        href=`${prefixAdmin}/roles/edit/${item.id}`
                      ) Sửa
                    if(role.permissions.includes('roles_delete'))
                      button(
                        class="btn btn-danger btn-sm"
                        data-id=item.id
                        button-delete
                      ) Xóa
            else
              tr
                td(colspan="4" class="text-center") Chưa có nhóm quyền nào được tạo.

    form(
      action=""
      method="POST"
      id="form-delete-item"
      data-path=`${prefixAdmin}/roles/delete`
    )
  else
    h1(class="text-danger") Bạn không có quyền truy cập trang web này.

  script(src="/admin/js/role.js")