extends ../../layouts/default.pug

block main 
  if (category.title)
    h1(class="mb-4") #{category.title}

  if (category.parent_id)
    div(class="mb-4") Danh mục cha: <b>#{category.parentTitle}</b>

  if (category.thumbnail)
    div(class="mb-4")
      img(
        src=category.thumbnail
        style="width: 100px"
      )

  if (category.status)
    div(class="mb-4")
      span Trạng thái:
      if (category.status === "active")
        span(class="badge bg-success") Hoạt động
      else
        span(class="badge bg-danger") Dừng hoạt động

  if (category.position)
    div(class="mb-4") Vị trí: <b>#{category.position}</b>

  if (category.description)
    div(class="mb-4") !{category.description}

  a(class="btn btn-warning" href=`${prefixAdmin}/products-category/edit/${category.id}`) Chỉnh sửa
