mixin form-change-multi(path)
  form(
    action=path
    method="POST"
    form-change-multi
  ) 
    .d-flex.align-items-start
      .form-group
        select(name="type" class="form-control")
          option(disabled selected) -- Chọn hành động --
          option(value="active") Hoạt động
          option(value="inactive") Dừng hoạt động
          option(value="delete-all") Xoá tất cả
          option(value="change-position") Thay đổi vị trí
      .form-group.d-none
        input(
          type="text"
          name="ids"
          value=""
          class="form-control"
        )
      button(type="submit" class="btn btn-primary") Áp dụng