extends ../../layouts/default.pug

block main
  h1(class="mb-4") Thông tin cá nhân

  if (user.avatar)
    div(class="mb-4")
      img(
        src=user.avatar
        style="width: 100px"
      )

  if (user.fullName)
    div(class="mb-4") Tên đầy đủ: <b>#{user.fullName}</b>

  if (user.email)
    div(class="mb-4") Email: <b>#{user.email}</b>

  if (user.phone)
    div(class="mb-4") Số điện thoại: <b>#{user.phone}</b>

  if (role.title)
    div(class="mb-4") Nhóm quyền: <b>#{role.title}</b>

  if (user.status)
    div(class="mb-4")
      span Trạng thái:
      if (user.status === "active")
        span(class="badge bg-success") Hoạt động
      else
        span(class="badge bg-danger") Dừng hoạt động

  a(class="btn btn-primary" href=`${prefixAdmin}/my-account/edit/`) Chỉnh sửa
