header.header
  .container-fluid
    .row.align-items-center
      .col-3
        .inner-logo
          a(href='/admin/dashboard') ADMIN

      .col-9
        i(class="bi bi-person-circle")
        div(class="text-end")
          a(
            href=`${prefixAdmin}/my-account`
            class="btn btn-primary btn-sm mx-2"
          ) #{user.fullName}

          a(
            href=`${prefixAdmin}/auth/logout`
            class="btn btn-danger btn-sm"
          ) Đăng xuất